<h1>Edit profile</h1>
  <form action="/profile/<%= user._id%>" method="post">
    <div class="form-group">
      <label for="firstname">Firstname</label>
      <input type="text" name="firstname" class="form-control" value="<%=user.firstname %>">
    </div>

    <div class="form-group">
      <label for="lastname">Lastname</label>
      <input type="text" name="lastname" class="form-control" value="<%=user.lastname %>">
    </div>

    <div class="form-group">
      <label for="email">Email address</label>
      <input type="text" name="email" class="form-control" value="<%=user.email %>">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" name="description" class="form-control"><%= user.description %></textarea>
    </div>

    <div class="form-group">
      <button type="submit">Update Profile</button>
    </div>
  </form>
