<div class="container campaign-container">
  <div class="profile-row">
    <div class="user-firstname">
      Firstname: <strong><%= user.firstname %></strong>
    </div>
    <div class="user-lastname">
      Lastname: <strong><%= user.lastname %></strong>
    </div>
    <div class="user-description">
      Description: <strong><%= user.description %></strong>
    </div>
    
    <!-- Edit profile -->
    <a class="btn btn-info" href="/profile/<%= user._id%>/edit">Edit the profile</a>
    <br>
    <!--Delete form-->
    <form action="/profile/<%= user._id%>/delete" method="POST">
      <button type="submit" class="btn btn-danger">Delete my profile</button>
    </form>
  </div>
</div>
