<h1>Discover all campaigns around you</h1>
<div id="map"></div>

<div class="flex-container">
  <% campaigns.forEach((campaign) => { %>
    <div class="flex-item">
      <img src="<%= campaignTypes[campaign.category].imgUrl %>"><br>
      <span class="category-type"><%= campaignTypes[campaign.category].name %></span><br>
      <a class="title" href="/campaign/<%= campaign._id %>"><%= campaign.name %></a><br>
      <span class="light-text description"><%= campaign.description %></span>
      <% if (campaign._creator &&  (campaign._creator.firstname===null)  ) {%>
        by <span class="light-text"><%= campaign._creator.firstname %></span><br>
      <% } %>
    </div>
  <% }) %>
</div>

<!-- <pre><%= JSON.stringify(campaignTypes, null, 8) %></pre> -->

<script type="text/javascript">
 var myCampaigns = <%- JSON.stringify(campaigns) %>;
</script>
<script src="javascripts/main.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDljwuTjCeEN0F7djzIX31SKE-msncOWy8&callback=initMap"></script>
