<h1>Discover all campaigns around you</h1>
<div id="map"></div>

<div class="flex-container">
  <% campaigns.forEach((campaign) => { %>
    <div class="flex-item">
      <img src="/images/outils-bricolage.jpg"><br>
      <span class="category-type"><%= campaign.category %></span><br>
      <a class="title" href="/campaign/<%= campaign._id %>"><%= campaign.name %></a><br>
      <span class="light-text description"><%= campaign.description %></span>
      <% if (campaign._creator &&  (campaign._creator.firstname===null)  ) {%>
        by <span class="light-text"><%= campaign._creator.firstname %></span><br>
      <% } %>
    </div>
  <% }) %>
</div>

<script src="javascripts/main.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDljwuTjCeEN0F7djzIX31SKE-msncOWy8&callback=initMap"></script>
