<h1>Edit campaign</h1>
<div class="container">
        <div class="row">
          <div class="col-sm-6 centered-form">
            <form action="/campaign/<%= campaign._id %>" method="post">
              
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" value="<%= campaign.name %>">
              </div>
              
              <div class="form-group">
                <label for="description">Description</label>
                <textarea
                  id="description"
                  name="description"
                  class="form-control">
                  <%= campaign.description %>
                </textarea>
              </div>
              
              <div class="form-group">
                <label for="category">Category</label><br>
                <select name="category" id="category">
                  <% types.forEach((category) => { %>
                  <!-- This selects the campaign's category in the dropdown -->
                    <% if (category === campaign.category) { %>
                      <option
                        selected
                        type="text"
                        value="<%= category %>"
                        class="form-control">
                      <%= category %>
                      </option>
                    <% } else { %>
                      <option type="text" value="<%= category %>" class="form-control"><%= category %></option>
                    <% } %>
                  <%  }) %>
                </select>
              </div>

              <div class="form-group">
                <label for="address">address</label>
                <input type="text" name="address" class="form-control" value="<%= campaign.address %>">
              </div>
              
              <div class="form-group">
                <label for="deadline">Deadline</label>
                <input type="date" name="deadline" class="form-control" value="<%= campaign.inputFormattedDate %>">
              </div>
              
              <div class="form-group">
                <button type="submit">Update Campaign</button>
              </div>
            </form>
            
            <% if (typeof(errors) !== 'undefined'){ %>
                <div class="alert alert-danger">
                <ul>
                  <% for (let error in errors){ %>
                    <li><%= errors[error].message %></li>
                  <% } %>
                </ul>
                </div>
            <% } %>

          </div>
        </div>
      </div>
