<h1>Edit campaign</h1>
<div class="container">
        <div class="row">
          <div class="col-sm-6 centered-form">
            <form action="/campaign/<%= campaign._id %>" method="post">

              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" value="<%= campaign.name %>">
              </div>

              <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="description" class="form-control"><%= campaign.description %></textarea>
              </div>

              <div class="form-group">
                <label for="category">Category</label><br>
                <select name="category" id="category">
                  <% Object.keys(campaignTypes).forEach((key) => { %>
                  <!-- This selects the campaign's key in the dropdown -->
                      <option
                        <%= campaign.category === key ? "selected" : "" %>
                        type="text"
                        value="<%= key %>"
                        class="form-control">
                      <%=campaignTypes[key].name %>
                      </option>
                  <%  }) %>
                </select>
              </div>

              <div class="form-group">
                <label for="address">Location</label>
                <input id="searchTextField" type="text" name="location" class="form-control" value="<%= campaign.location.address %>">
                <input id="latitude" type="hidden" name="latitude" class="form-control" value="<%= campaign.location.coordinates[0] %>">
                <input id="longitude" type="hidden" name="longitude" class="form-control" value="<%= campaign.location.coordinates[1] %>">
              </div>

              <div class="form-group">
                <label for="execDate">Date of intervention</label>
                <input type="date" name="execDate" class="form-control" value="<%= campaign.inputFormattedDate %>">
              </div>

              <div class="form-group">
                <button type="submit">Update Campaign</button>
              </div>
            </form>

            <% if (typeof(errors) !== 'undefined'){ %>
                <div class="alert alert-danger">
                <ul>
                  <% for (let error in errors){ %>
                    <li><%= errors[error].message %></li>
                  <% } %>
                </ul>
                </div>
            <% } %>
            <script src="/javascripts/autocomplete.js"></script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDljwuTjCeEN0F7djzIX31SKE-msncOWy8&libraries=places&callback=initMap"></script>
          </div>
        </div>
      </div>
