<div class="container campaign-container">
        <div class="row">
          <div class="col-sm-2">
            By: <strong><%= campaign._creator.firstname %></strong>
          </div>
          <div class="col-sm-10">
            <h1><%= campaign.name %></h1>
            <h2 class="campaign-category"><%= campaign.category %></h2>
            <p class="campaign-description"><%= campaign.description %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <!-- INSERER IMAGE ICI <img class="campaign-image" src="<%= campaign.image %>"> -->
          </div>
          <div class="col-sm-4 campaign-info">
            <div class="campaign-progress">
              <progress value="<%= campaign.timeRemaining %>"></progress>
            </div>
            <div class="campaign-pledged">
              <span class="campaign-total">$<%= campaign.timeRemaining %></span><br>
            </div>
            <div class="campaign-time">
              <strong class="large-strong"><%= campaign.timeRemaining.days %></strong><br>
              <span class="light-text"><%= campaign.timeRemaining.unit  %> to go.</span>
            </div>
            <!-- <a class="btn backer-btn" href="/campaign/<%= campaign._id%>/edit">EDIT</a> -->
            <% if (campaignIsCurrentUsers) { %>
              <a class="btn backer-btn" href="/campaign/<%= campaign._id%>/edit">Edit the campaign</a>
            <% } else { %>
              <a class="btn backer-btn" href="#">Apply to this campaign</a>
            <% } %>

            <% if (campaignIsCurrentUsers) { %>
            <form action="/campaign/<%= campaign._id%>/delete" method="POST">
              <button type="submit" class="btn btn-danger">Delete this campaign</button>
            </form>
            <% } %>
          </div>
        </div>
      </div>