<!-- Main code -->
<div class="container campaign-container">
        <div class="row">
          <% if (displayBannier) { %>
          <div class="alert success">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            You successfully applied for this campaign !
          </div>
          <% } %>
          <div class="col-sm-2 creator">
            Created by: <strong><%= campaign._creator && campaign._creator.firstname %></strong>
          </div>

          <div class="col-sm-10 campaign-name">
              <h1><%= campaign.name %></h1>
              <h2 class="campaign-category">Category : <%= campaignTypes[campaign.category].name %></h2>
              <p class="campaign-description"><%= campaign.description %></p>
            </div>
          </div>


          <div class="row">
              <div class="applicants">
                  <% if (campaignIsCurrentUsers) { %>
                    Applicants
                    <ul>
                      <% campaign.applicants.forEach((user) => { %>
                        <li><%= user.firstname %></li>
                      <% }) %>
                    </ul>
                  <% } %>
              </div>
          </div><br><br>

          <div class="col-sm-4 campaign-info">
            <div class="campaign-time">"This campaign ends in
              <strong class="large-strong"><%= campaign.timeRemaining.days %></strong>
              <span class="light-text"><%= campaign.timeRemaining.unit  %>.</span>"
            </div>
            <% if (campaignIsCurrentUsers) { %>
              <a class="btn backer-btn" href="/campaign/<%= campaign._id%>/edit">Edit the campaign</a>
            <% } else if (campaign._creator){ %>
              <div id="apply">
                  <a class="btn backer-btn" href="/campaign/<%= campaign._id%>/apply">Apply to this campaign</a>
              </div>
            <% } %>
            <% if (campaignIsCurrentUsers) { %>
            <form action="/campaign/<%= campaign._id%>/delete" method="POST">
              <button type="submit" class="btn btn-danger">Delete this campaign</button>
            </form>
            <% } %>
          </div>


      </div>
